<div class="card shadow-sm col-md-10">
    <img class="bd-placeholder-img card-img-top" width="100%"src='../assets/images/img1.jpg'>
    <div class="card-body">
      <p class="card-text"></p>
      <p class="card-text"></p>
      <p class="card-text"></p>
      <p class="card-text"></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
          <button type="button" class="btn btn-sm btn-primary">Comprar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="card shadow-sm col-md-10">
      <img class="bd-placeholder-img card-img-top" width="100%" src='../assets/images/img2.jpg'>
      <div class="card-body">
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <button type="button" class="btn btn-sm btn-primary">Comprar</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  <div class="card shadow-sm col-md-10">
    <img class="bd-placeholder-img card-img-top" width="100%" src='../assets/images/img3.jpg'>
    <div class="card-body">
      <p class="card-text"></p>
      <p class="card-text"></p>
      <p class="card-text"></p>
      <p class="card-text"></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
          <button type="button" class="btn btn-sm btn-primary">Comprar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
        </div>
      </div>
    </div>
  </div>